.nav-bar {
    margin-top: 5rem;

    position: absolute;
    bottom: 2rem;
    display: flex;
}

.nav-bar__dot {
    background-color: #ffffff;
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.6rem;
    border-radius: 50%;
    opacity: 40%;
}

.nav-bar__dot:hover {
    cursor: pointer;
}

.active {
    background-color: #ffffff;
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.6rem;
    border-radius: 50%;
    opacity: 100%;
}