@font-face {
  font-family: "Sansita One";
  src: url("./assets/fonts/SansitaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Exempel på användning */
body {
  font-family: "Sansita One", sans-serif;
}
