* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #231F42;
}

.start-container {
    margin-top: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-container h1 {
    color: #F56B9A;
    margin-top: 2rem;
    font-weight: 300;
    font-size: 2.7rem;
}

.start-container h2 {
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    opacity: 80%;
}

.start-container img {
    width: 60%;
}